services:
  nextjs:
    image: website-z11g:latest
    container_name: nextjs
    ports:
      - "127.0.0.1:3000:3000"
    restart: always
    volumes:
      - ~/workspace/app_data:/app/app_data
    networks:
      - app_network

  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: always
    ports:
      - '80:80'
      - '81:81' # access through port 81 before configuring Proxy Host in Nginx Proxy Manager
      - '443:443'
    volumes:
      - ~/workspace/nginx-proxy-manager/data:/data
      - ~/workspace/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - app_network
    environment:
      IP_RANGES_FETCH_ENABLED: 'false'

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "127.0.0.1:9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/workspace/portainer_data:/data
    networks:
      - app_network
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "4533:4533"
    volumes:
      - ./navidrome/data:/data
      - ./navidrome/music:/music:ro
    networks:
      - app_network
  music-tag:
    image: xhongc/music_tag_web:latest
    container_name: music-tag-web
    ports:
      - "8001:8001"
    volumes:
      - ./navidrome/music:/app/media:rw
      - ./music-tag/config:/app/data
    command: /start
    restart: unless-stopped
    networks:
      - app_network
networks:
  app_network:
    driver: bridge
