<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/content/css/site.css?v=20180917">
    <link rel="icon" href="/content/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div style='position: absolute;opacity: 0;filter: alpha(opacity=0);'>
        <img src='http://www.cg-zhou.top/Content/Images/duck.jpg' />
    </div>

    <header class="header">
        <a href="/?isappinstalled=1">
            <div class="logo">
                <div class="logo-img">
                    <div class="logo-info">
                        <h3>
                            Definition is procedure
                        </h3>
                        <p>
                            by cg-zhou
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </header>

    @RenderBody();

    <footer class="footer">
        <span>
            <img src="/content/images/Home.png"
                 onClick="window.location.href='/Home?isappinstalled=1';"
                 alt="Home">
        </span>

        <span style="margin-left:20px;">
            <img src="/content/images/Money.png"
                 onClick="window.location.href='/CalcTax?isappinstalled=1';"
                 alt="CalcTax">
        </span>

        <span style="margin-left:20px;">
            <img src="/content/images/email.png"
                 onClick="window.location.href='mailto:z_cg@foxmail.com';"
                 alt="email">
        </span>

        <span style="margin-left:20px;">
            <img src="/content/images/github.png"
                 onClick="window.open('https://github.com/cg-zhou')"
                 alt="github">
        </span>

        <div class="footer-row" style="margin-top:20px;">
            Written by
            <a class="footer-link" href="mailto:z_cg@foxmail.com">Chunguang Zhou</a>
        </div>
        <div class="footer-row">
            <a class="footer-link" target="_blank" href="http://www.miitbeian.gov.cn">辽ICP备18012467号</a>
        </div>
    </footer>
</body>

</html>
