<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/content/css/site.css?v=20190715">
    <link rel="icon" href="/content/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="logo-for-wechat">
        <img src='http://www.cg-zhou.top/Content/Images/duck.jpg' />
    </div>

    <header class="header">
        <a href="/?isappinstalled=1">
            <div class="logo">
                <div class="logo-img">
                    <div class="logo-info">
                        <h3>
                            Definition is procedure
                        </h3>
                        <p>
                            by cg-zhou
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </header>

    @RenderBody();

    <footer class="footer">
        <span>
            <img class="circle-img"
                 src="/content/images/Home.png"
                 onClick="window.location.href='/Home?isappinstalled=1';"
                 alt="Home">
        </span>

        <span>
            <img class="circle-img"
                 src="/content/images/Money.png"
                 onClick="window.location.href='/CalcTax?isappinstalled=1';"
                 alt="CalcTax">
        </span>

        <span>
            <img class="circle-img"
                 src="/content/images/email.png"
                 onClick="window.location.href='mailto:z_cg@foxmail.com';"
                 alt="email">
        </span>

        <span>
            <img class="circle-img"
                 src="/content/images/github.png"
                 onClick="window.open('https://github.com/cg-zhou')"
                 alt="github">
        </span>

        <div class="footer-row" style="margin-top:20px;">
            <a href="https://github.com/996icu/996.ICU/blob/master/LICENSE"
               target="view_window"
               style="text-decoration: none;">
                <img src="https://img.shields.io/badge/license-Anti%20996-blue.svg"
                     alt="Anti 996" />
            </a>
            <a href="https://996.icu"
               target="view_window"
               style="text-decoration: none;margin-left: 10px;">
                <img src="https://img.shields.io/badge/link-996.icu-red.svg"
                     alt="996.icu" />
            </a>
        </div>

        <div class="footer-row">
            Written by
            <a class="footer-link" href="mailto:z_cg@foxmail.com">Chunguang Zhou</a>
        </div>
        <div class="footer-row">
            <a class="footer-link" target="_blank" href="http://www.miitbeian.gov.cn">辽ICP备18012467号</a>
        </div>
    </footer>
</body>

</html>
