@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="banner-text" id="bannerId">
        Hello I am Chunguang Zhou, 29 years old, full stack developer from LiaoNing, China.
    </div>
</div>

<script>
    window.onload = function (e) {
        var ageMs = new Date() - new Date(1990, 1, 29);
        var ageYear = parseInt(ageMs / 1000 / 60 / 60 / 24 / 365.25);
        var div = document.getElementById('bannerId');
        div.innerHTML = 'Hello I am Chunguang Zhou, ' + ageYear + ' years old, full stack developer from LiaoNing, China.';
        div.style.visibility = 'visible';
    }
</script>
