@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="banner-text">
        Hello I am Chunguang Zhou, 29 years old, full stack developer from LiaoNing, China.
    </div>
</div>
