@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header">
    <div class="logo-size">
        <div class="logo-img">
            <div class="logo-info">
                <h3>
                    Definition is procedure
                </h3>
                <p>
                    by cg-zhou
                    <a href="http://www.cg-zhou.top">View website</a>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="banner">
    <div class="banner-icon">
        <a class="footer-link" target="_blank" href="https://github.com/cg-zhou">
            <img src="/content/images/github.png" alt="github">
        </a>
        <a class="footer-link" href="mailto:z_cg@foxmail.com">
            <img src="/content/images/email.png" alt="email">
        </a>
    </div>
    <div class="banner-text">
        Hello I am Chunguang Zhou, 28 years old, full stack developer from LiaoNing, China.
    </div>
</div>
