<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chunguang Zhou</title>
    <link rel="stylesheet" type="text/css" href="/content/css/site.css?v=20180827">
    <link rel="icon" href="/content/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="logo-size">
            <div class="logo-img">
                <div class="logo-info">
                    <h3>
                        Definition is procedure
                    </h3>
                    <p>
                        by cg-zhou
                        <a href="http://www.cg-zhou.top">View website</a>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="banner-icon">
            <a class="footer-link" target="_blank" href="https://github.com/cg-zhou">
                <img src="/content/images/github.png" alt="github">
            </a>
            <a class="footer-link" href="mailto:z_cg@foxmail.com">
                <img src="/content/images/email.png" alt="email">
            </a>
        </div>
        <div class="banner-text">
            Hello I am Chunguang Zhou, 28 years old, full stack developer from LiaoNing, China.
        </div>
    </div>

    <footer class="footer">
        <div class="footer-row">
            Written by
            <a class="footer-link" href="mailto:z_cg@foxmail.com">Chunguang Zhou</a>
        </div>
        <div class="footer-row">
            <a class="footer-link" target="_blank" href="http://www.miitbeian.gov.cn">辽ICP备18012467号</a>
        </div>
    </footer>
</body>

</html>
