@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: old-standard-tt;
    src: url("../public/fonts/old-standard-tt.woff2") format("woff");
  }

  html {
    font-family: "Microsoft YaHei";
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

html {
  background-color: black;
}

:root {
  --logo-diameter: calc(100vw / 2);
}

@media screen and (min-width: 600px) {
  :root {
    --logo-diameter: 300px;
  }
}

.navigation-bar {
  margin: 20px 10px 30px 10px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  color: #ddd;
  flex-wrap: wrap;
}

.navigation-bar>a {
  color: #ddd;
  border-bottom: solid 1px;
}

.navigation-bar>a:hover {
  color: #fff;
}

.navigation-bar>button {
  color: #ddd;
}

.navigation-bar>button:hover {
  color: #fff;
}

.header {
  height: calc(300px * 0.5);
  height: calc(var(--logo-diameter) * 0.5);
  text-align: center;
}

.banner {
  background-color: white;
  padding-top: calc(300px * 0.6);
  padding-top: calc(var(--logo-diameter) * 0.6);
  padding-bottom: calc(300px * 0.2);
  padding-bottom: calc(var(--logo-diameter) * 0.2);
}

.banner-text {
  font-weight: lighter;
  margin: auto;
  text-align: center;
  font-size: calc(300px * 0.15);
  font-size: calc(var(--logo-diameter) * 0.15);
  line-height: calc(300px * 0.223);
  line-height: calc(var(--logo-diameter) * 0.223);
  color: #959595;
  letter-spacing: -0.4px;
  font-family: "old-standard-tt", serif;
  max-width: calc(300px * 2.67);
  max-width: calc(var(--logo-diameter) * 2.67);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer .circle-img {
  cursor: pointer;
  max-width: calc(300px * 0.3);
  max-width: calc(var(--logo-diameter) * 0.3);
}

.footer span:not(:first-child) {
  margin-left: calc(300px * 0.067);
  margin-left: calc(var(--logo-diameter) * 0.067);
}

.footer-row {
  color: rgb(206, 206, 206);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.footer-link {
  color: rgb(206, 206, 206);
  text-decoration: underline;
}

.footer-link:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo-for-wechat {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.logo-for-wechat img {
  max-width: 300px;
}

.logo,
.logo div {
  width: 300px;
  width: var(--logo-diameter);
  height: 300px;
  height: var(--logo-diameter);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.logo-img {
  float: left;
  background-image: url(/images/duck.jpg);
  background-size: 300px;
  background-size: var(--logo-diameter);
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 calc(var(--logo-diameter) * 0.05) rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.logo-img:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.logo-img:hover .logo-info p {
  opacity: 1;
}

.logo-img:hover .logo-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.logo-info {
  position: absolute;
  background: rgb(51, 51, 51);
  background: rgba(51, 51, 51, 0.8);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.logo-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: calc(300px * 0.09);
  font-size: calc(var(--logo-diameter) * 0.09);
  margin: 0 calc(300px * 0.1);
  margin: 0 calc(var(--logo-diameter) * 0.1);
  padding: calc(300px * 0.3) 0 0;
  padding: calc(var(--logo-diameter) * 0.3) 0 0;
  font-family: open sans, Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.logo-info p {
  color: #fff;
  font-style: italic;
  font-size: calc(300px * 0.07);
  font-size: calc(var(--logo-diameter) * 0.07);
  margin-top: calc(300px * 0.12);
  margin-top: calc(var(--logo-diameter) * 0.12);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}

.logo-info p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: calc(300px * 0.04);
  font-size: calc(var(--logo-diameter) * 0.04);
  letter-spacing: 1px;
  padding-top: 10px;
  font-family: open sans, Arial, sans-serif;
}

[v-cloak] div {
  display: none;
}

.footer-icons-row {
  display: flex;
  column-gap: calc(var(--logo-diameter) * 0.08);
}

.footer-996-row {
  display: flex;
  column-gap: 12px;
}

.tool-layout {
  background: white;
  display: flex;
  justify-content: center;
  padding: 0 20px;

}

.tool-layout>div {
  max-width: 800px;
  padding-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  overflow-x: auto;
}

.tool-layout h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.tool-layout textarea {
  border: solid 1px black;
  border-radius: 3px;
  padding: 5px 8px;
  width: 400px;
}

.tool-layout .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tool-layout input[type="number"] {
  border: solid 1px black;
  border-radius: 3px;
  padding-left: 8px;
}

.tool-layout input[type="text"] {
  border: solid 1px black;
  border-radius: 3px;
  padding-left: 8px;
}

.tool-layout input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.tool-layout input[type="checkbox"]:checked {
  accent-color: black;
}

.tool-layout button {
  background-color: black;
  color: #ddd;
  padding: 2px 10px;
  border-radius: 4px;
}

.tool-layout button:hover {
  color: #fff;
  background-color: #222;
}

.tool-layout input[type="text"].input-box-item {
  padding-left: 0;
}