html {
    background-color: black;
}

@font-face {
    font-family: old-standard-tt;
    src: url('../fonts/old-standard-tt.woff2');
}    

body {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 250px;
    text-align: center;
}

.header-img {
    margin-top: 60px;
    width: 360px;
    border-radius: 50%;
}

.banner {
    background-color: white;
    padding-top: 200px;
    padding-bottom: 120px;
}

.banner-text {
    font-weight: lighter;
    margin: auto;
    text-align: center;
    font-size: 56px;
    line-height: 67px;
    color: #959595;
    letter-spacing: -0.4px;
    font-family: 'old-standard-tt', serif;
    max-width: 980px;
}

.footer {
    text-align: center;
    margin: 30px;
}

.footer-row {
    color: rgb(206, 206, 206);
    margin-bottom: 10px;
}

.footer-link {
    color: rgb(206, 206, 206);
    text-decoration: underline;
}

.footer-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
