html {
    background-color: black;
}

.footer {
    text-align: center;
    margin: 30px;
}

.footer-row {
    color: rgb(206, 206, 206);
    margin-bottom: 10px;
}

.footer-link {
    color: rgb(206, 206, 206);
    text-decoration: underline;
}

.footer-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
