@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 引入样式 -->
<link rel="stylesheet" href="../../Content/3rdPartyLibs/element-ui/index.css">

<style>
    .mini-logo {
        border-radius: 50%;
        width: 360px;
        height: 360px;
        background-size: 360px;
        float: left;
        background-image: url(../../Content/images/duck.jpg);
        margin-top: 60px;
        cursor: pointer;
        box-shadow: inset 0 0 0 16px rgba(255, 255, 255, .6), 0 1px 2px rgba(0, 0, 0, .1);
    }

    .mini-logo-size {
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        width: 360px;
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .red {
        color: red;
    }

    .tax-row {
        margin-top: 10px;
    }

    .tax-input {
        width: 360px;
    }

    .tax-result {
        font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
        -webkit-font-smoothing: antialiased;
    }

        .tax-result div {
            height: 40px;
        }

            .tax-result div span:nth-child(2n) {
                font-size: 20px;
                font-weight: bold;
                float: right;
            }
</style>

<script src="../../Content/3rdPartyLibs/vue/vue.js"></script>
<script src="../../Content/3rdPartyLibs/element-ui/index.js"></script>
<script src="../../Content/3rdPartyLibs/axios/axios.min.js"></script>

<header class="header" style="height:250px;">
    <div class="mini-logo-size">
        <a href="/">
            <div class="mini-logo">
            </div>
        </a>
    </div>
</header>

<div id="app" v-cloak style="background-color:white;padding-top:200px;padding-bottom:50px;">
    <div style="width: 360px;margin-left:auto;margin-right:auto;">
        <el-row>
            <el-input v-model="form.income"
                      placeholder="税前收入（月）"
                      class="tax-input">
            </el-input>
        </el-row>
        <el-row class="tax-row">
            <el-input v-model="form.incomeWithoutTax"
                      placeholder="社保和公积金（月）"
                      class="tax-input">
            </el-input>
        </el-row>
        <el-row class="tax-row">
            <el-button style="margin-left: 110px;"
                       type="primary" @@click="calc">计算</el-button>
            <el-button @@click="clear">清空</el-button>
        </el-row>

        <el-card style="margin-top: 50px;">
            <div slot="header">
                <span class="tax-result" style="font-size:24px;">
                    计算结果
                </span>
            </div>

            <div class="tax-result">
                <div>
                    <span>10月1日前需缴税：</span>
                    <span>{{taxBefore2018}}</span>
                </div>
                <div>
                    <span>10月1日后需缴税：</span>
                    <span>{{taxAfter2018}}</span>
                </div>
                <div>
                    <span>每月减少缴税：</span>
                    <span>{{differencePerMonth}}</span>
                </div>
                <div>
                    <span>每年减少缴税：</span>
                    <span>{{differencePerYear}}</span>
                </div>
            </div>
        </el-card>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            visible: false,
            form: {
                income: '',
                incomeWithoutTax: '',
            },

            taxBefore2018: 0,
            taxAfter2018: 0,
            differencePerMonth: 0,
            differencePerYear: 0,
        },
        methods: {
            calc: function () {
                var self = this;
                axios.post('/CalcTax/Run', this.form)
                    .then(function (response) {
                        console.log(response);
                        self.taxBefore2018 = response.data.taxBefore2018;
                        self.taxAfter2018 = response.data.taxAfter2018;
                        self.differencePerMonth = response.data.differencePerMonth;
                        self.differencePerYear = response.data.differencePerYear;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            clear: function () {
                this.form.income = '';
                this.form.incomeWithoutTax = '';
                this.taxBefore2018 = 0;
                this.taxAfter2018 = 0;
                this.differencePerMonth = 0;
                this.differencePerYear = 0;
            }
        }
    })
</script>
